:root {
  --background1: #242529;
  --background2: #37373f;
  --border-angle: 0turn;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

.f-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-column {
  display: flex;
  flex-direction: column;
}

@keyframes border-animation {
  0% {
    --border-angle: 0turn;
  }
  100% {
    --border-angle: 1turn;
  }
}
