:root {
  --background1: #242529;
  --background2: #37373f;
  --border-angle: 0turn;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

.f-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-column {
  display: flex;
  flex-direction: column;
}

@keyframes border-animation {
  0% {
    --border-angle: 0turn;
  }
  100% {
    --border-angle: 1turn;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #41b06e;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
